@charset "UTF-8";

body {
    background-color: black;
}

.galeria {
    margin: 0.5em;
    column-width: 200px;
    column-gap: 0.5em;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
    border-radius: 2%;
    break-inside: avoid;
}

.galeria:hover {
    animation: pulso 1s infinite; /* tempo e suavidade da animação */
}

.img-move {
  transition: transform 1s ease; /* tempo e suavidade da animação */
}

.img-move:hover {
  transform: scale(80%); /* aumenta 10% ao passar o mouse */
}

/* --- Responsividade extra --- */
@media (max-width: 600px) {
    .galeria {
        column-width: 120px; /* imagens menores em telas muito pequenas */
    }
}

@media (min-width: 1400px) {
    .galeria {
        column-width: 200px; /* imagens maiores em telas grandes */
    }
}